<div class="modal modal-snippet" tabindex="-1" >
  <div class="modal-dialog modal-lg modal-dialog-centered"">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Copy Snippet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>To implement Comment-Monk on the client HTML, just copy-paste this code in the body area where you want your comments block:</p>
		<pre class='pl-2 pr-2 border' style='white-space: pre-wrap; background-color: aliceblue; ' >
		<code>
&lt;script defer src="{{src}}"&gt; &lt;/script&gt;
		</code>
		</pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>