<div class='cm-submit-comment'>
<form class='cm-comment-form' method='post'>
<input type='hidden' name='cm_uri' id='cm_uri'>
<p class='heading text-muted'>Leave a Comment</p>
<p class='text-muted'>
Your email address will not be published. Required fields are marked *
</p>
<div>
	<textarea rows='6' minlength='14' name='cm_message' placeholder='comment' required></textarea>
</div>
<div>
	<input name='cm_name' required placeholder='Name'>
	<input name='cm_email' required type='email' placeholder='Email'>
</div>
<div>
	<input name='cm_website' type='url' placeholder='Website (Optional)'>
</div>
<button class='submit-button' type='button'>Post Comment</button>
<p class='cm-alert'></p>
</form>
</div>